
*{
    text-decoration: none;
}

.title{
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-weight: normal;
    color: rgb(59, 59, 59);
    & h3{
        font-weight: normal;   
    }
}

.works{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    &-wrapper{
        width: 80%;
    }
    & h4{
        font-weight: normal;
    }
}