* {
  text-decoration: none;
}

.title {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-weight: normal;
  color: rgb(59, 59, 59);
}

.works {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.works-wrapper {
  width: 80%;
}
.works h4 {
  font-weight: normal;
}