
*{
    text-decoration: none;
}

body {
    padding-left: 24px;
}

.title{
    display: flex;
    flex-flow: column;
    justify-content: left;
    font-weight: normal;
    color: rgb(59, 59, 59);
    & h3{
        font-weight: normal;   
        font-size: 1.6em;
    }
    & p{
        padding: 0;
    }

    &_sandbox{
        & p{
            margin-top: 0px;
        }
    }
}

.works{
    display: flex;
    // justify-content: center;
    padding-top: 20px;
    &-wrapper{
        width: 80%;
        border-left: 0.5px solid rgb(207, 207, 207);
        padding-left: 20px;
    }
    & h4{
        font-weight: normal;
    }
}

.padding {
    padding: 40px;
}


.style_image{
    width: 50%; 
    padding: 20px;
}


/* タブレット用スタイル */
@media screen and (max-width: 768px) {

    .works{
        flex-flow: column;
    }
    .style_image{
        width: 90%; 
        padding: 20px;
    }
}

/* スマートフォン用スタイル */
@media screen and (max-width: 480px) {
    .works{
        flex-flow: column;
        padding-top: 60px;
    }
    .style_image{
        width: 90%; 
        padding: 20px;
        padding-left: 10px;
    }
}